<div class="jumbotron">


    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 col-sm-push-3">
          <div class="contactBox col-me-12 whitebg" ng-repeat="x in contactdetails">
          <div class="clear"></div>
            <div class="col-md-2">
            <span class="circle">
                <img src="images/avatar.png" class="avatarsmall">
            </span>
            </div>
            <div class="col-md-8">
              <h3 class="inlinecss">Contact {{$index +1}}</h3>
              <div class="clear"></div>
              <h6 class="inlinecss">{{x.name}}</h6>
              <h5 class="">{{x.email}}</h5>
            </div>
            <div class="col-md-2">
            
            <a href='#' ng-click="deletedoc(x._id)"><span class="glyphicon glyphicon-remove-circle inlinecss"></span></a>
            <a href='#' ng-click="editdoc(x._id)"><span class="glyphicon glyphicon-edit inlinecss"></span></a>
            </div>
          </div>
        </div><!--/.col-xs-12.col-sm-9-->
        

        <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/" class="list-group-item">All Contacts <span class="badge">{{ allcontact }}</span></a>
            <a href="/family" class="list-group-item">Family <span class="badge">{{ familycontact }}</span></a>
            <a href="/friends" class="list-group-item">Friends <span class="badge">{{ friendscontact }}</span></a>
            <a href="#" class="list-group-item active">Others <span class="badge">{{ othercontact }}</span></a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->


    </div><!--/.container-->
	
</div>